<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>This is a demo page.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>This is some more text.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Some different text over here.</p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>